<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletCfdi32Pdf</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.ServletCfdi32Pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCotizacionPDF</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.ServletCotizacionPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPedidoPDF</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.ServletPedidoPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCobranzaEdoCuentaPDF</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.ServletCobranzaEdoCuentaPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneradorPDFs</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.GeneradorPDFs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneradorPDFs2</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.GeneradorPDFs2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValeAzulPDF</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.ServletValeAzulPDF</servlet-class>
    </servlet>
    <servlet>
        <description>ServletReporteGeneralDia</description>
        <servlet-name>ServletReporteGeneralDia</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.ServletReporteGeneralDia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReportsJasper</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.ServletReportsJasper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSConexionMovil</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InterconectaMicrosipWs</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSConexionPuntoDeVenta</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletCrImprimiblePDF</servlet-name>
        <servlet-class>com.tsp.sgfens.servlet.ServletCrImprimiblePDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCfdi32Pdf</servlet-name>
        <url-pattern>/ServletCfdi32Pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCotizacionPDF</servlet-name>
        <url-pattern>/ServletCotizacionPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPedidoPDF</servlet-name>
        <url-pattern>/ServletPedidoPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCobranzaEdoCuentaPDF</servlet-name>
        <url-pattern>/ServletCobranzaEdoCuentaPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneradorPDFs</servlet-name>
        <url-pattern>/GeneradorPDFs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneradorPDFs2</servlet-name>
        <url-pattern>/GeneradorPDFs2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValeAzulPDF</servlet-name>
        <url-pattern>/ServletValeAzulPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReporteGeneralDia</servlet-name>
        <url-pattern>/ServletReporteGeneralDia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReportsJasper</servlet-name>
        <url-pattern>/ServletReportsJasper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSConexionMovil</servlet-name>
        <url-pattern>/WSConexionMovil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterconectaMicrosipWs</servlet-name>
        <url-pattern>/InterconectaMicrosipWs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSConexionPuntoDeVenta</servlet-name>
        <url-pattern>/WSConexionPuntoDeVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrImprimiblePDF</servlet-name>
        <url-pattern>/ServletCrImprimiblePDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>com.tsp.sgfens.listener.LeonidasPlugin</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
